<h1>Home Page</h1>
<body>
  <p> Users can submit Ajax requests to the server and the response will be <br>
      logged to the console. <br>
  </p>
<h3>Sample Pramas</h3>
<br> params = {
<br>  car_params: {
<br>    make: "toyota",
<br>    model: "camery",
<br>    min_year: 2005,
<br>    max_year: 2009
<br>  },
<br>  search_params: {
<br>    max_price: 20000
<br>  }
<br> }
<br>
<br>
The run ApiUtil.fetch(params) in the browser console. 
<div class="container">

</div>
