<section class="container">
  <div class="login">
    <h1>Create an Account</h1>
    <form action="<%= users_url %>" method="post">
      <%= auth_token_input %>
      <p><input type="text" name="user[username]" value="" placeholder="Email" class="username"></p>
      <p><input type="password" name="user[password]" value="" placeholder="Password" class="password"></p>
      <p class="submit"><input type="submit" name="commit" value="Submit"></p>
    </form>
  </div>

  <div class="login-help">
    <p>Already Registered? Sign In Here <%= link_to("Sign In", new_session_url) %>.</p>
  </div>
</section>

<section class="about">
  <p class="about-links">
    <a href="http://www.cssflow.com/snippets/login-form" target="_parent">View Article</a>
    <a href="http://www.cssflow.com/snippets/login-form.zip" target="_parent">Download</a>
  </p>
  <p class="about-author">
    &copy; 2012&ndash;2013 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
    <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
    Original PSD by <a href="http://www.premiumpixels.com/freebies/clean-simple-login-form-psd/" target="_blank">Orman Clark</a>
</section>
