/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article,
h1, h2, p, strong, em, a, li, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.title-bar {
  position: fixed;
  width: 100%;
  background-color: #CAC6C6;
  /* margin: 0px; */
  font-size: 30px;
  height: 40px;
  padding: 10px;
  padding-left: 30px;
  z-index: 2;
}

.account-button {
    position: fixed;
    right: 0;
    margin: 30px;
    margin-top: 15px;
    z-index: 3;
    padding: 5px;
}

.sign-out-button {
    position: fixed;
    top: 15px;
    right: 35px;
    z-index: 5;
}

.search-input-field {
    position: fixed;
    background-color: #CAC6C6;
    /* float: left; */
    top: 100px;
    width: 225px;
    /* height: 100%; */
    /* padding-top: 0; */
    /* margin-top: 0; */
    z-index: 1;
}
.search-input-field input {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  clear: right;
}
.search-input-field label {
  float: left;
  padding: 10px;
  clear: left;
}

.keyword-form {
  position: fixed;
  top: 50px;
  /* left: 225px; */
  padding: 10px;
  width: 100%;
  padding-left: 30px;
  background-color: #CAC6C6;
  z-index: 2;
}

.keyword-form input {
  width: 500px;
  height: 20px;
  margin: 5px;
}

.list-index {
  position: relative;
  left: 225px;
  width: CALC(100% - 225px);
  min-width: 900px;
  top: 100px;
  z-index: 0;
}

.list-index-item {
  font-size: 20px;
  margin: 0px;
  padding-left: 20px;
  list-style-type: none;
}

.list-index-item:hover {
  cursor: pointer;
}

.list-index-item:nth-child(even) {
  background-color: #E1DDDD;
}

.list-index-item:nth-child(odd){
  background-color: white;
}

.account-index {
  background-color: #E4E4E9;
  position: relative;
  top: 60px;
  width: 1050px;
  margin: auto;
}

.filter-bar {
    position: relative;
    background-color: #B8B0B0;
    height: 40px;
    padding: 5px;
    padding-left: 20px;
    /* padding: 5px; */
}

.filter-bar form {
    margin: 10px;
    float: left;
}

.filter-bar input {
  padding: 5px;
  margin-left: 10px;
}

.detail-index-item {
  position: relative;
  font-size: 20px;
  height: 60px;
  width: 100%;
  list-style-type: none;
}

.detail-index-item table {
  padding: 15px;
}

.detail-index-item td:nth-child(1){
  width: 300px;
}
.detail-index-item td:nth-child(2){
  width: 125px;
}
.detail-index-item td:nth-child(3){
  width: 400px;
}
.detail-index-item td:nth-child(4){
  width:75px;
}

.detail-index-item:hover {
  cursor: pointer;
}

.detail-index-item:nth-child(even){
  background-color: #E1DDDD;
}

.detail-index-item:nth-child(odd){
  background-color: white;
}

.detail-index-item img {
  position: relative;
  float: left;
}

.detail-index-item-details li {
  position: relative;
  float: left;
  padding: 15px;
  margin-left: 10px;
  list-style-type: none;
}

.gallery-index-item {
    float: left;
    height: 225px;
    width: 300px;
    position: relative;
    margin: 20px;
    list-style-type: none;
    padding: 5px;

}

.new-classified-container {
    position: relative;
    top: 60px;
    width: 300px;
    margin: auto;
}

.new-classified-container input {
  position: relative;
  float: right;
  clear: right;
  margin: 10px;
}

.new-classified-container textarea {
  position: relative;
  float: right;
  clear: right;
  margin: 5px;
}

.new-classified-container label {
  position: relative;
  float: left;
  clear: left;
  padding: 15px;
}

.new-classified-container button {
  float: right;
  clear: both;
}

.new-classified-button {
    position: fixed;
    top: 15px;
    right: 100px;
    z-index: 5;
}

.show {
    /* height: 300px; */
    top: 60px;
    position: relative;
    width: 1050px;
    margin: auto;
}

.show h2 {
  font-size: 24px;
  padding: 10px;
}

.image-display {
    width: 500px;
    position: relative;
    float: left;
}

.show-details {
    width: 380px;
    position: relative;
    float: right;
    clear: right;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    margin-right: 0px;
}

.show-body {
    position: relative;
    float: left;
    clear: left;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    width: 480px;
    margin: 10px;
    margin-left: 0px;
}

.show-map {
    width: 400px;
    height: 400px;
    position: relative;
    float: right;
    clear: right;
    margin: 20px;
    margin-right: 0px;
}

.map-view {
  width: 1050px;
  height: 800px;
}
