/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article,
h1, h2, p, strong, em, a, li, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.title_bar {
  background-color: #D9D4D4;
  margin: 0px;
  font-size: 30px;
  height: 40px;
  padding: 5px;
  padding-left: 20px;
}

.account-button {
  position: relative;
  float: right;
  margin: 30px;
  margin-top: 0px;
  top: -35px;
}

.sign-out-button {
  position: relative;
  float: right;
  margin: 30px;
  margin-top: 0px;
  top: -35px;
}

.search_input_field {
   background-color: #D9D4D4;
   float: left;
   width: 200px;
   height: 600px;
   padding-top: 30px;
   margin-top: 0px;
   z-index: 2;
}

.search_input_field input {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  clear: right;
}
.search_input_field label {
  float: left;
  padding: 10px;
  clear: left;
}

.keyword_form input{
  clear: both;
  float: middle;
  width: 150px;
  padding: center;
}

.list-index {
 background-color: #E4E4E9;
 width: 100%;
 height: 634px;
 margin: 0px;
 list-style-type: none;
 z-index: 1;
}

.list_index_item {
  font-size: 20px;
  margin: 0px;
  margin-left: 200px;
  padding-right: 0px;
}

.list_index_item:hover {
  cursor: pointer;
}

.list_index_item:nth-child(even){
  background-color: #BEBBBB;
}

.list_index_item:nth-child(odd){
  background-color: white;
}

.account-index {
  background-color: #E4E4E9;
}

.new-user-form {
  position: fixed;
  background-color: #D9D4D4;
  float: left;
  width: 500px;
  height: 300px;
  padding-left: 30px;
  padding-top: 30px;
  margin-top: 0px;
  z-index: 2;
}

.new-user-form:child {
  padding: 0px;
}
