/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article,
h1, h2, p, strong, em, a, li, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.title-bar {
  position: fixed;
  width: 100%;
  background-color: #D9D4D4;
  margin: 0px;
  font-size: 30px;
  height: 40px;
  padding: 5px;
  padding-left: 20px;
  z-index: 2;
}

.account-button {
    position: fixed;
    right: 0;
    margin: 30px;
    margin-top: 15px;
    z-index: 3;
    padding: 5px;
}

.sign-out-button {
  position: relative;
  float: right;
  margin: 30px;
  margin-top: 0px;
  top: -35px;
}

.search-input-field {
  position: fixed;
   background-color: #D9D4D4;
   float: left;
   top: 20px;
   width: 200px;
   height: 100%;
   padding-top: 30px;
   margin-top: 0px;
   z-index: 1;
}

.search-input-field input {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  clear: right;
}
.search-input-field label {
  float: left;
  padding: 10px;
  clear: left;
}

.keyword-form {
  position: fixed;
  top: 50px;
  left: 200px;
  padding: 10px;
  width: 100%;
  background-color: #D9D4D4;
}

.keyword-form input{
  clear: both;
  float: middle;
  width: 300px;
  height: 20px;
  padding: center;
  margin: 5px;
}

.list-index {
 position: relative;
 background-color: #E4E4E9;
 width: 100%;
 height: 100%;
 margin: 0px;
 top: 100px;
 list-style-type: none;
 z-index: 0;
}

.list-index-item {
  font-size: 20px;
  margin: 0px;
  margin-left: 200px;
  padding-right: 0px;
}

.list-index-item:hover {
  cursor: pointer;
}

.list-index-item:nth-child(even){
  background-color: #BEBBBB;
}

.list-index-item:nth-child(odd){
  background-color: white;
}

.account-index {
  background-color: #E4E4E9;
}

.new-user-container {
  position: relative;
  background-color: #D9D4D4;
  width: 380px;
  padding: 30px;
  margin: auto;
}

.new-user-form input {
  margin: 10px;
}

.account-index li {
  margin: 0px;
  padding-left: 20px;
}

.show {
    height: 300px;
    top: 60px;
    position: relative;
}
