.filter-bar {
  background-color: white;
  position: fixed;
  top: 100px;
  height: 40px;
  width:100%;
  min-width: 900px;
  padding: auto;
  padding-left: 10px;
  z-index: 2;
}

.filter-bar form {
    margin: 10px;
    float: left;
}

.filter-bar input {
  padding: 5px;
  margin-left: 10px;
}

.sort-selector {
  margin-left: 5px;
}
