.filter-bar {
    position: relative;
    background-color: #B8B0B0;
    height: 40px;
    padding: 5px;
    padding-left: 20px;
}

.filter-bar form {
    margin: 10px;
    float: left;
}

.filter-bar input {
  padding: 5px;
  margin-left: 10px;
}
