.filter-bar {
  background-color: white;
  position: relative;
  height: 40px;
  padding: auto;
  padding-left: 20px;
}

.filter-bar form {
    margin: 10px;
    float: left;
}

.filter-bar input {
  padding: 5px;
  margin-left: 10px;
}
