.gallery-index-item {
    float: left;
    height: 275px;
    width: 300px;
    position: relative;
    margin: 10px;
    font-size: 14px;
    margin-bottom: 30px;
    list-style-type: none;
    padding: 5px;
}

.gallery-index-item-image-container {
  position: absolute;
  margin-top: 10px;
  border-width: 1px;
  border: solid;
  width: 300px;
  height: 225px;
}

.gallery-index-item-image-container img{
  max-width: 300px;
  max-height: 225px;
}
