.image-display {
    width: 600px;
    position: relative;
    float: left;
}

.image-main {
  width: 600px;
  height: 450px;
}

.image-thumbs {

}

.image-thumbs img {
  width: 100px;
  height: 75px;
  margin-right: 20px;
}
