.image-display {
    width: 500px;
    position: relative;
    float: left;
}

.image-main {
  width: 500px;
  height: 375px;
}

.image-thumbs {

}

.image-thumbs img {
  width: 100px;
  height: 75px;
}
