.new-classified-container {
    position: relative;
    top: 60px;
    width: 300px;
    margin: auto;
}

.new-classified-container input {
  position: relative;
  float: right;
  clear: right;
  margin: 10px;
}

.new-classified-container textarea {
  position: relative;
  float: right;
  clear: right;
  margin: 5px;
}

.new-classified-container label {
  position: relative;
  float: left;
  clear: left;
  padding: 15px;
}

.new-classified-container button {
  float: right;
  clear: both;
}

.new-classified-button {
    position: fixed;
    top: 15px;
    right: 100px;
    z-index: 5;
}
