.title-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ECEAEA;
  font-size: 26px;
  height: 40px;
  padding: 10px;
  padding-left: 30px;
  z-index: 2;
}
.account-button {
    position: fixed;
    right: 0;
    margin: 30px;
    margin-top: 15px;
    z-index: 3;
    padding: 5px;
}

.sign-out-button {
    position: fixed;
    top: 15px;
    right: 35px;
    z-index: 5;
}

.new-classified-button {
    position: fixed;
    top: 15px;
    right: 100px;
    z-index: 5;
}
